@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,300italic,700italic");

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-color: #6a707c;
		background-image: url("images/overlay.png"), url("../../assets/css/images/bg.jpg");
		background-size: 100px 100px,				100% auto;
		background-repeat: repeat,						no-repeat;
		background-attachment: scroll,						scroll;
		background-position: top left,					center 0px;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

		@media screen and (max-width: 980px) {

			body {
				background-size: 100px 100px,				200% auto;
			}

		}

		@media screen and (max-width: 736px) {

			body {
				background-image: none;
			}

		}

/* Menu */

  #page-wrapper {
    -moz-transition: -moz-filter 0s ease;
    -webkit-transition: -webkit-filter 0s ease;
    -ms-transition: -ms-filter 0s ease;
    transition: filter 0s ease;
  }

  #menu {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    pointer-events: none;
    -moz-transition: opacity 0.25s ease-out, visibility 0.25s;
    -webkit-transition: opacity 0.25s ease-out, visibility 0.25s;
    -ms-transition: opacity 0.25s ease-out, visibility 0.25s;
    transition: opacity 0.25s ease-out, visibility 0.25s;
    background-image: url("images/overlay.png"), url("images/menu-bg.svg"), -moz-linear-gradient(45deg, rgba(133, 143, 201, 0.75) 20%, rgba(97, 192, 149, 0.985) 80%);
    background-image: url("images/overlay.png"), url("images/menu-bg.svg"), -webkit-linear-gradient(45deg, rgba(133, 143, 201, 0.75) 20%, rgba(97, 192, 149, 0.985) 80%);
    background-image: url("images/overlay.png"), url("images/menu-bg.svg"), -ms-linear-gradient(45deg, rgba(133, 143, 201, 0.75) 20%, rgba(97, 192, 149, 0.985) 80%);
    background-image: url("images/overlay.png"), url("images/menu-bg.svg"), linear-gradient(45deg, rgba(133, 143, 201, 0.75) 20%, rgba(97, 192, 149, 0.985) 80%);
    background-size: 100px 100px, cover, cover;
    background-position: center, center, center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
  }

    #menu:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 7em;
      height: 7em;
      line-height: 7em;
      background-image: url("images/close.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 3.5em 3.5em;
      cursor: pointer;
      text-align: center;
    }

    #menu .inner {
      padding: 3.5em 2.5em 1.5em 2.5em ;
      -moz-transform: perspective(500px) rotateX(-20deg);
      -webkit-transform: perspective(500px) rotateX(-20deg);
      -ms-transform: perspective(500px) rotateX(-20deg);
      transform: perspective(500px) rotateX(-20deg);
      -moz-transition: opacity 0.5s ease-out, -moz-transform 0.5s ease-out;
      -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
      -ms-transition: opacity 0.5s ease-out, -ms-transform 0.5s ease-out;
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      -moz-transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
      transition-delay: 0.5s;
      -webkit-overflow-scrolling: touch;
      width: 23em;
      background: rgba(50, 56, 63, 0.9);
      opacity: 0;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
    }

      #menu .inner h2 {
        margin-bottom: 1em;
      }

        #menu .inner h2:after {
          display: none;
        }

      #menu .inner ul.links {
        list-style: none;
        padding: 0;
      }

        #menu .inner ul.links li {
          border-top: solid 1px #434b55;
          padding: 0;
        }

          #menu .inner ul.links li a {
            display: block;
            padding: 1em 0;
            border: 0;
            font-size: 1.25em;
            text-transform: uppercase;
            letter-spacing: 0.25em;
          }

          #menu .inner ul.links li:first-child {
            border-top: 0;
          }

        #menu .inner ul.links + ul {
          margin-top: -1em;
        }

      #menu .inner ul.actions li a {
        font-size: 1em !important;
      }

    @media screen and (max-width: 1280px) {

      #menu .inner {
        padding: 2.5em 2em 0.5em 2em ;
        width: 21em;
      }

    }

    @media screen and (max-width: 736px) {

      #menu {
        background-size: 100px 100px, 450%, cover;
      }

        #menu:before {
          width: 2.5em;
          height: 2.5em;
          line-height: 2.5em;
          background-size: 2em 2em;
        }

        #menu .inner ul.links li a {
          font-size: 1em;
        }

        #menu .inner ul.actions li a {
          font-size: 1em !important;
        }

    }

    @media screen and (max-width: 480px) {

      #menu .inner {
        width: calc(100% - 4em);
        margin: 2.5em 0;
      }

    }

  body.is-menu-visible #page-wrapper {
    -moz-filter: blur(8px);
    -webkit-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    -moz-transition: -moz-filter 0.25s ease;
    -webkit-transition: -webkit-filter 0.25s ease;
    -ms-transition: -ms-filter 0.25s ease;
    transition: filter 0.25s ease;
  }

  body.is-menu-visible #menu {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }

    body.is-menu-visible #menu .inner {
      -moz-transform: rotateX(0);
      -webkit-transform: rotateX(0);
      -ms-transform: rotateX(0);
      transform: rotateX(0);
      -moz-transition-delay: 0.125s;
      -webkit-transition-delay: 0.125s;
      -ms-transition-delay: 0.125s;
      transition-delay: 0.125s;
      opacity: 1;
    }

/* Header */

  body {
    padding-top: 3.25em;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.25em;
    background: #ffffff;
    color: #32383f;
    line-height: 3.25em;
    z-index: 10000;
  }

    #header h1 {
      position: absolute;
      top: 1;
      left: 1.5em;
      height: inherit;
      color: inherit;
      font-size: 0.9em;
      line-height: inherit;
      margin: 0;
    }

      #header h1 a {
        display: block;
        height: inherit;
        line-height: inherit;
      }

        #header h1 a:hover {
          color: inherit !important;
        }

    #header nav {
      position: absolute;
      top: 0;
      right: 0.5em;
    }

      #header nav a {
        text-decoration: none;
        display: inline-block;
        height: inherit;
        line-height: inherit;
        border: 0;
        color: inherit;
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: 0.25em;
        padding: 0 1em;
        text-transform: uppercase;
      }

        #header nav a:before {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          text-transform: none !important;
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
        }

        #header nav a:before {
          line-height: inherit;
          margin-right: 0.5em;
          opacity: 0.25;
        }

        #header nav a[href="#menu"] {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

          #header nav a[href="#menu"]:before {
            content: '\f0c9';
          }

        #header nav a:hover {
          color: inherit !important;
        }

  @media screen and (max-width: 736px) {

    body {
      padding-top: 2.5em;
    }

      body #header {
        height: 2.5em;
        line-height: 2.65em;
      }

        body #header h1 {
          left: 1em;
          font-size: 0.8em;
        }

          body #header h1 span {
            display: none;
          }

        body #header nav {
          right: 0;
        }

          body #header nav a[href="#menu"] {
            width: 6em;
            height: 4em;
            text-indent: 6em;
            overflow: hidden;
            white-space: nowrap;
          }

            body #header nav a[href="#menu"]:before {
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              width: 3em;
              height: 2.5em;
              margin: 0;
              text-indent: 0;
              text-align: center;
            }

  }

  header p {
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.25em;
    line-height: 2.25;
    margin-top: -0.75em;
    position: relative;
    text-transform: uppercase;
  }

  header.major {
    padding: 6.5em 3em 4.5em 3em ;
    text-align: center;
    background-color: #858fc9;
    background-image: url("images/overlay.png"), url("images/header-bg.svg"), -moz-linear-gradient(45deg, #858fc9 20%, #61c095 80%);
    background-image: url("images/overlay.png"), url("images/header-bg.svg"), -webkit-linear-gradient(45deg, #858fc9 20%, #61c095 80%);
    background-image: url("images/overlay.png"), url("images/header-bg.svg"), -ms-linear-gradient(45deg, #858fc9 20%, #61c095 80%);
    background-image: url("images/overlay.png"), url("images/header-bg.svg"), linear-gradient(45deg, #858fc9 20%, #61c095 80%);
    background-size: 100px 100px, cover, cover;
    background-position: center, center, center;
  }

    header.major h2 {
      font-size: 5em;
      font-weight: 300;
    }

    header.major h2:after {
      margin-left: auto;
      margin-right: auto;
    }

    header.major h4 {
      font-size: 1em;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 2em;
    }

    header.minor {
      width: 100%;
      padding: 1em 3em 1em 3em ;
      text-align: center;
      background-color: #858fc9;
      background-image: url("images/overlay.png"), url("images/header-bg.svg"), -moz-linear-gradient(45deg, #858fc9 20%, #61c095 80%);
      background-image: url("images/overlay.png"), url("images/header-bg.svg"), -webkit-linear-gradient(45deg, #858fc9 20%, #61c095 80%);
      background-image: url("images/overlay.png"), url("images/header-bg.svg"), -ms-linear-gradient(45deg, #858fc9 20%, #61c095 80%);
      background-image: url("images/overlay.png"), url("images/header-bg.svg"), linear-gradient(45deg, #858fc9 20%, #61c095 80%);
      background-size: 100px 100px, cover, cover;
      background-position: center, center, center;
    }

      header.minor h2 {
        font-size: 4em;
        font-weight: 300;
        margin-bottom: 0.75em;
      }

      header.minor h2:after {
        margin-left: auto;
        margin-right: auto;
        top: 0.25em;

      }

  @media screen and (max-width: 1280px) {

    header h4 {
      line-height: 2;
    }

    header.major {
      padding: 5em 3em 3em 3em ;
    }

    header.minor {
      padding: 2em 1em 1em 1em ;
    }

  }

  @media screen and (max-width: 980px) {

    header h4 br {
      display: none;
    }

  }

  @media screen and (max-width: 736px) {

    header.major {
      padding: 4em 1.5em 2em 1.5em ;
      background-size: 100px 100px, 250%, cover;
    }

    header.major h2 {
      font-size: 2em;
    }

    header.minor {
      padding: 2em 1em 1em 1em;
      background-size: 100px 100px, 250%, cover;
    }

    header.minor h2 {
      font-size: 3em;
    }

  }

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

/* Banner */

	#banner {
		position: relative;
		background-image: url("../../assets/css/images/banner.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
	}

		#banner header {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-moz-filter: blur(0);
			-webkit-filter: blur(0);
			-ms-filter: blur(0);
			filter: blur(0);
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-moz-transition: opacity 1s ease, -moz-filter 1s ease, -moz-transform 0.5s ease;
			-webkit-transition: opacity 1s ease, -webkit-filter 1s ease, -webkit-transform 0.5s ease;
			-ms-transition: opacity 1s ease, -ms-filter 1s ease, -ms-transform 0.5s ease;
			transition: opacity 1s ease, filter 1s ease, transform 0.5s ease;
			padding: 5em 4em 2em 4em ;
			position: relative;
			height: 32em;
			opacity: 1;
			z-index: 1;
		}

			#banner header h1 {
				font-size: 5.5em;
				margin: 0 0 0.5em 0
			}

				#banner header h1:after {
					margin-left: auto;
					margin-right: auto;
				}

			#banner header h4 {
				font-size: 1.25em;
				margin: 0;
				width: 100%;
			}

		#banner:before {
			-moz-transition: opacity 2s ease-in-out;
			-webkit-transition: opacity 2s ease-in-out;
			-ms-transition: opacity 2s ease-in-out;
			transition: opacity 2s ease-in-out;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
			-ms-transition-delay: 0.75s;
			transition-delay: 0.75s;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #323a47;
			opacity: 0.65;
		}

		body.is-preload #banner header {
			-moz-filter: blur(1px);
			-webkit-filter: blur(1px);
			-ms-filter: blur(1px);
			filter: blur(1px);
			-moz-transform: scale(0.985);
			-webkit-transform: scale(0.985);
			-ms-transform: scale(0.985);
			transform: scale(0.985);
			opacity: 0;
		}

		body.is-preload #banner:before {
			opacity: 1;
		}

		@media screen and (max-width: 1280px) {

			#banner header {
				padding: 3.5em 3em 1em 3em ;
				height: 28em;
			}

				#banner header h1 {
					font-size: 5em;
					margin: 0 0 0.5 0;
				}

		}

		@media screen and (max-width: 980px) {

			#banner header {
				height: 34em;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 4.5em 3em 4em 3em;
			}

				#banner header {
					height: auto;
					padding: 0;
				}

					#banner header h1 {
						font-size: 2em;
						margin: 0 0 0.5 0;
					}

					#banner header h4 {
						font-size: 0.75em;
						margin: 0;
					}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 6.5em 3em 6em 3em;
			}

		}

/* Main */

  #main {
    width: 77em;
    margin: 0 auto;
    padding-top: 6em;
  }

    #main > * {
      margin-bottom: 6em;
    }

    #main .default {
      background-color: #32383f;
    }

      #main .default .content {
        padding: 4em 4em 2em 4em ;
      }

    #main footer {
      -moz-filter: blur(0);
      -webkit-filter: blur(0);
      -ms-filter: blur(0);
      filter: blur(0);
      -moz-transition: opacity 1s ease, -moz-filter 1s ease, -moz-transform 0.5s ease;
      -webkit-transition: opacity 1s ease, -webkit-filter 1s ease, -webkit-transform 0.5s ease;
      -ms-transition: opacity 1s ease, -ms-filter 1s ease, -ms-transform 0.5s ease;
      transition: opacity 1s ease, filter 1s ease, transform 0.5s ease;
      -moz-transition-delay: 0s;
      -webkit-transition-delay: 0s;
      -ms-transition-delay: 0s;
      transition-delay: 0s;
      padding: 2em 3em;
      position: relative;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.05);
      opacity: 1;
      z-index: 1;
    }

      #main footer > :last-child {
        margin-bottom: 0;
      }

    body.is-preload #main footer {
      -moz-filter: blur(1px);
      -webkit-filter: blur(1px);
      -ms-filter: blur(1px);
      filter: blur(1px);
      opacity: 0;
    }
      #main footer h4 {
        font-size: 1.25em;
        padding: 1.5em 2em;
        margin: 0;
        width: 100%;
      }

    @media screen and (max-width: 1680px) {

      #main {
        padding-top: 4.5em;
      }

        #main > * {
          margin-bottom: 4.5em;
        }

    }

    @media screen and (max-width: 1280px) {

      #main {
        width: calc(100% - 6em);
        padding-top: 3em;
      }

        #main > * {
          margin-bottom: 3em;
        }

        #main .default .content {
          padding: 3em 3em 1em 3em ;
        }

      #main footer h4 {
        font-size: 1.25em;
        padding: 1.5em 2em;
        margin: 0;
        width: 100%;
      }

    }

    @media screen and (max-width: 736px) {

      #main {
        width: 100%;
        padding-top: 0;
      }

        #main > * {
          margin-bottom: 0;
        }

        #main .default .content {
          padding: 3em 1.5em 1em 1.5em ;
        }

        #main footer {
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          position: relative;
          background: transparent;
          margin: 0.5em 0 0 0;
          padding: 0;
        }

        body.is-loading #main footer {
          -moz-transform: scale(0.985);
          -webkit-transform: scale(0.985);
          -ms-transform: scale(0.985);
          transform: scale(0.985);
        }

    }

/* First Feature */

    #main .features {
      background-color: #32383f;
    }

      #main .features .content {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

        #main .features .content .feature {
          padding: 4em 3em 2em 3em ;
          width: 33.333333333%;
          border-style: solid;
          border-color: #434b55;
          border-left-width: 1px;
          border-top-width: 1px;
        }

          #main .features .content .feature:nth-child(-n + 3) {
            border-top-width: 0;
          }

          #main .features .content .feature:nth-child(3n - 2) {
            border-left-width: 0;
          }

    @media screen and (max-width: 1280px) {

        #main .features .content .feature {
          padding: 3em 2em 1em 2em ;
        }

    }

    @media screen and (max-width: 980px) {

      #main .features .content {
        display: block;
      }

        #main .features .content .feature {
          width: 100%;
          border-left: 0;
          border-top: solid 1px #434b55 !important;
        }

          #main .features .content .feature:first-child {
            border-top: 0 !important;
          }

    }

    @media screen and (max-width: 736px) {

        #main .features .content .feature {
          padding: 3em 1.5em 1em 1.5em ;
        }

    }

/* Stacks */

    #main .spotlight {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background-color: #32383f;
    }

      #main .spotlight .content {
      -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        padding: 4em 4em 2em 4em ;
        width: 100%;
      }

      #main .spotlight .content h3 {
        font-weight: 300;
        margin-bottom: 4em;
      }

      #main .spotlight .content h4 {
        text-align: center;
        font-weight: 300;
      }

    @media screen and (max-width: 1280px) {

        #main .spotlight .content {
          padding: 3em 3em 1em 3em ;
        }

    }

    @media screen and (max-width: 980px) {

      #main .spotlight {
        display: block;
      }

        #main .spotlight .content {
          width: 100%;
        }

    }

    @media screen and (max-width: 736px) {

        #main .spotlight .content {
          padding: 3em 1.5em 1em 1.5em ;
        }

          #main .spotlight .content h2:after {
            margin-left: 0;
            margin-right: 0;
          }

          #main .spotlight .content h3:after {
            margin-left: 0;
            margin-right: 0;
          }

    }

/* Long Idea */

  #longidea .divider {
    max-width: 90%;
    margin: 0 auto;
  }

  #longidea .hr-text {
      font-size: 3em;
      position: relative;
      border: 0;
      margin: 0.25em 0;
      height: 2em;
        &:before {
          content: '';
          background: linear-gradient(to right, transparent, white, transparent);
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
        }
        &:after {
          content: attr(data-content);
          position: relative;
          display: inline-block;
          color: white;
          padding: 0 .25em;
          line-height: 2em;
          background: #32383f;
        }
      }

/* Footer (page) */

  #footer {
    background-color: rgba(36, 42, 48, 0.9);
  }

    #footer .inner {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      padding: 6em 0 4em 0 ;
      width: 76em;
      margin: 0 auto;
    }

      #footer .inner > * {
        width: 25%;
        padding-left: 3em;
      }

      #footer .inner > .about {
        width: 50%;
        padding: 0;
      }

    #footer .copyright {
      padding: 4em 0 2em 0 ;
      border-top: solid 1px #434b55;
      text-align: center;
    }

      #footer .copyright p {
        font-size: 0.75em;
        letter-spacing: 0.25em;
        opacity: 0.4;
        text-transform: uppercase;
      }

    @media screen and (max-width: 1680px) {

      #footer .inner {
        padding: 4.5em 0 2.5em 0 ;
      }

      #footer .copyright {
        padding: 3em 0 1em 0 ;
      }

    }

    @media screen and (max-width: 1280px) {

      #footer .inner {
        padding: 3em 0 1em 0 ;
        width: calc(100% - 6em);
      }

        #footer .inner > * {
          padding-left: 2em;
        }

      #footer .copyright {
        padding: 3em 0 1em 0 ;
      }

    }

    @media screen and (max-width: 980px) {

      #footer .inner {
        -moz-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }

        #footer .inner > * {
          width: 50%;
          padding-left: 0;
        }

        #footer .inner > .about {
          width: 100%;
          margin: 0 0 1em 0;
        }

    }

    @media screen and (max-width: 736px) {

      #footer {
        background-color: #2d3339;
      }

        #footer .inner {
          padding: 3em 1.5em 1em 1.5em ;
          width: 100%;
        }

        #footer .copyright {
          padding: 3em 1.5em 1em 1.5em ;
        }

    }

    @media screen and (max-width: 480px) {

      #footer .inner > * {
        width: 100%;
        margin: 1em 0 0 0 !important;
      }

      #footer .inner > :first-child {
        margin-top: 0;
      }

    }

/* Contact */

  #main .cta {
    text-align: center;
  }

    #main .cta h2:after {
      margin-left: auto;
      margin-right: auto;
    }

    #main .cta p {
      margin-top: 0;
    }

    @media screen and (max-width: 1280px) {

      #main .cta {
        padding: 1em 0 0.1em 0 ;
      }

    }

    @media screen and (max-width: 736px) {

      #main .cta {
        padding: 4em 1.5em 2em 1.5em ;
        background-color: #6a707c;
        background-image: url("images/overlay.png"), url("images/bg.jpg");
        background-size: 100px 100px,       cover;
        background-repeat: repeat,            no-repeat;
        background-attachment: scroll,            scroll;
        background-position: top left,          center bottom;
      }
    }

/* Type */

	html {
		font-size: 13pt;
	}

		@media screen and (max-width: 1680px) {

			html {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 736px) {

			html {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 360px) {

			html {
				font-size: 11pt;
			}

		}

	body, input, select, textarea {
		color: #ffffff;
		font-family: "Roboto", Helvetica, sans-serif;
		font-weight: 300;
		font-size: 1em;
		line-height: 2;
    text-shadow: 0 0 1px transparent;
	}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				line-height: 1.75;
			}

		}

	a {
		-moz-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-webkit-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		-ms-transition: border-bottom-color 0.2s ease, color 0.2s ease;
		transition: border-bottom-color 0.2s ease, color 0.2s ease;
		border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
		color: #ffffff;
		text-decoration: none;
	}

		a:hover {
			color: #9eaaed !important;
			border-bottom-color: transparent;
		}

	strong, b {
		color: #ffffff;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
    line-height: calc(1ex / 0.32);
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #ffffff;
		font-weight: 700;
		letter-spacing: 0.25em;
		line-height: 1.5;
		margin: 0 0 1.5em 0;
		text-transform: uppercase;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
			font-weight: 300;
		}

	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
		margin-bottom: 1.5em;
	}

		h2:after {
			content: '';
			display: block;
			position: relative;
			top: 0.75em;
			width: 3em;
			height: 1px;
			background: #ffffff;
      margin: 0 auto 1em auto;

		}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.25em;
	}

	h5 {
		font-size: 1em;
	}

	@media screen and (max-width: 1280px) {

		h2 {
			font-size: 2em;
		}

	}

	@media screen and (max-width: 736px) {

    h1 {
      font-size: 2em;
    }

		h2 {
			font-size: 1.5em;
		}


    h3 {
      font-size: 1.25em;
    }

    h4 {
      font-size: 1em;
    }

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px #434b55;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		background: #383F47;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.5em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px #434b55;
		margin: 3em 0;
	}

		hr.major {
			margin: 5em 0;
		}

	.left {
		text-align: left;
	}

	.center {
		text-align: center;
	}

	.right {
		text-align: right;
	}

/* Box */

	.box {
		border: solid 1px #434b55;
		margin-bottom: 2em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		display: inline-block;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: inset 0 0 0 1px #ffffff;
		color: #ffffff !important;
		cursor: pointer;
		font-size: 0.75em;
		font-weight: 700;
		height: 4.25em;
		letter-spacing: 0.25em;
		line-height: 4.35em;
		padding: 0 2.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(255, 255, 255, 0.1);
			color: #ffffff !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(255, 255, 255, 0.2);
			color: #ffffff !important;
		}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		button.icon:before,
		.button.icon:before {
			margin-right: 0.5em;
			color: #ffffff;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.65em;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		button.large,
		.button.large {
			font-size: 0.9em;
		}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		button.primary,
		.button.primary {
			background-color: #ffffff;
			box-shadow: none;
			color: #32383f !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			button.primary:hover,
			.button.primary:hover {
				background-color: rgba(255, 255, 255, 0.8);
			}

			input[type="submit"].primary.icon:before,
			input[type="reset"].primary.icon:before,
			input[type="button"].primary.icon:before,
			button.primary.icon:before,
			.button.primary.icon:before {
				color: #32383f;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			pointer-events: none;
			opacity: 0.25;
		}

		@media screen and (max-width: 736px) {

			input[type="submit"] .big,
			input[type="reset"] .big,
			input[type="button"] .big,
			button .big,
			.button .big {
				font-size: 0.75em;
				line-height: 4.35em;
			}

		}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			display: inline-block;
			font-style: normal;
			font-variant: normal;
			text-rendering: auto;
			line-height: 1;
			text-transform: none !important;
			font-family: 'Font Awesome 5 Free';
			font-weight: 400;
		}

		.icon > .label {
			display: none;
		}

		.icon.solid:before {
			font-weight: 900;
		}

		.icon.brands:before {
			font-family: 'Font Awesome 5 Brands';
		}

		.icon.major {
			display: block;
			margin: 0 0 1.5em 0;
		}

			.icon.major:before {
				font-size: 2rem;
				line-height: 2rem;
			}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #434b55;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

	dl {
		margin: 0 0 2em 0;
	}

		dl dt {
			display: block;
			font-weight: 700;
			margin: 0 0 1em 0;
		}

		dl dd {
			margin-left: 2em;
		}

/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1em;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3em 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1em);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			ul.actions:not(.fixed) {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
				width: 100% !important;
			}

				ul.actions:not(.fixed) li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					padding: 1em 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions:not(.fixed) li > * {
						width: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-top: 0;
					}

					ul.actions:not(.fixed) li input[type="submit"],
					ul.actions:not(.fixed) li input[type="reset"],
					ul.actions:not(.fixed) li input[type="button"],
					ul.actions:not(.fixed) li button,
					ul.actions:not(.fixed) li .button {
						width: 100%;
					}

						ul.actions:not(.fixed) li input[type="submit"].icon:before,
						ul.actions:not(.fixed) li input[type="reset"].icon:before,
						ul.actions:not(.fixed) li input[type="button"].icon:before,
						ul.actions:not(.fixed) li button.icon:before,
						ul.actions:not(.fixed) li .button.icon:before {
							margin-left: -0.5em;
						}

		}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1em 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

			ul.icons li .icon:before {
				font-size: 1.5em;
			}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px #434b55;
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: #383F47;
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #ffffff;
			font-size: 0.8em;
			font-weight: 700;
			letter-spacing: 0.25em;
			line-height: 1.5;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
			text-transform: uppercase;
		}

		table thead {
			border-bottom: solid 1px #434b55;
		}

		table tfoot {
			border-top: solid 1px #434b55;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px #434b55;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

/* Row */

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row.gtr-uniform > * > :last-child {
			margin-bottom: 0;
		}

		.row.aln-left {
			justify-content: flex-start;
		}

		.row.aln-center {
			justify-content: center;
		}

		.row.aln-right {
			justify-content: flex-end;
		}

		.row.aln-top {
			align-items: flex-start;
		}

		.row.aln-middle {
			align-items: center;
		}

		.row.aln-bottom {
			align-items: flex-end;
		}

		.row > .imp {
			order: -1;
		}

		.row > .col-1 {
			width: 8.33333%;
		}

		.row > .off-1 {
			margin-left: 8.33333%;
		}

		.row > .col-2 {
			width: 16.66667%;
		}

		.row > .off-2 {
			margin-left: 16.66667%;
		}

		.row > .col-3 {
			width: 25%;
		}

		.row > .off-3 {
			margin-left: 25%;
		}

		.row > .col-4 {
			width: 33.33333%;
		}

		.row > .off-4 {
			margin-left: 33.33333%;
		}

		.row > .col-5 {
			width: 41.66667%;
		}

		.row > .off-5 {
			margin-left: 41.66667%;
		}

		.row > .col-6 {
			width: 50%;
		}

		.row > .off-6 {
			margin-left: 50%;
		}

		.row > .col-7 {
			width: 58.33333%;
		}

		.row > .off-7 {
			margin-left: 58.33333%;
		}

		.row > .col-8 {
			width: 66.66667%;
		}

		.row > .off-8 {
			margin-left: 66.66667%;
		}

		.row > .col-9 {
			width: 75%;
		}

		.row > .off-9 {
			margin-left: 75%;
		}

		.row > .col-10 {
			width: 83.33333%;
		}

		.row > .off-10 {
			margin-left: 83.33333%;
		}

		.row > .col-11 {
			width: 91.66667%;
		}

		.row > .off-11 {
			margin-left: 91.66667%;
		}

		.row > .col-12 {
			width: 100%;
		}

		.row > .off-12 {
			margin-left: 100%;
		}

		.row.gtr-0 {
			margin-top: 0;
			margin-left: 0em;
		}

			.row.gtr-0 > * {
				padding: 0 0 0 0em;
			}

			.row.gtr-0.gtr-uniform {
				margin-top: 0em;
			}

				.row.gtr-0.gtr-uniform > * {
					padding-top: 0em;
				}

		.row.gtr-25 {
			margin-top: 0;
			margin-left: -0.4375em;
		}

			.row.gtr-25 > * {
				padding: 0 0 0 0.4375em;
			}

			.row.gtr-25.gtr-uniform {
				margin-top: -0.4375em;
			}

				.row.gtr-25.gtr-uniform > * {
					padding-top: 0.4375em;
				}

		.row.gtr-50 {
			margin-top: 0;
			margin-left: -0.875em;
		}

			.row.gtr-50 > * {
				padding: 0 0 0 0.875em;
			}

			.row.gtr-50.gtr-uniform {
				margin-top: -0.875em;
			}

				.row.gtr-50.gtr-uniform > * {
					padding-top: 0.875em;
				}

		.row {
			margin-top: 0;
			margin-left: -1.75em;
		}

			.row > * {
				padding: 0 0 0 1.75em;
			}

			.row.gtr-uniform {
				margin-top: -1.75em;
			}

				.row.gtr-uniform > * {
					padding-top: 1.75em;
				}

		.row.gtr-150 {
			margin-top: 0;
			margin-left: -2.625em;
		}

			.row.gtr-150 > * {
				padding: 0 0 0 2.625em;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -2.625em;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 2.625em;
				}

		.row.gtr-200 {
			margin-top: 0;
			margin-left: -3.5em;
		}

			.row.gtr-200 > * {
				padding: 0 0 0 3.5em;
			}

			.row.gtr-200.gtr-uniform {
				margin-top: -3.5em;
			}

				.row.gtr-200.gtr-uniform > * {
					padding-top: 3.5em;
				}

		@media screen and (max-width: 1680px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xlarge {
					order: -1;
				}

				.row > .col-1-xlarge {
					width: 8.33333%;
				}

				.row > .off-1-xlarge {
					margin-left: 8.33333%;
				}

				.row > .col-2-xlarge {
					width: 16.66667%;
				}

				.row > .off-2-xlarge {
					margin-left: 16.66667%;
				}

				.row > .col-3-xlarge {
					width: 25%;
				}

				.row > .off-3-xlarge {
					margin-left: 25%;
				}

				.row > .col-4-xlarge {
					width: 33.33333%;
				}

				.row > .off-4-xlarge {
					margin-left: 33.33333%;
				}

				.row > .col-5-xlarge {
					width: 41.66667%;
				}

				.row > .off-5-xlarge {
					margin-left: 41.66667%;
				}

				.row > .col-6-xlarge {
					width: 50%;
				}

				.row > .off-6-xlarge {
					margin-left: 50%;
				}

				.row > .col-7-xlarge {
					width: 58.33333%;
				}

				.row > .off-7-xlarge {
					margin-left: 58.33333%;
				}

				.row > .col-8-xlarge {
					width: 66.66667%;
				}

				.row > .off-8-xlarge {
					margin-left: 66.66667%;
				}

				.row > .col-9-xlarge {
					width: 75%;
				}

				.row > .off-9-xlarge {
					margin-left: 75%;
				}

				.row > .col-10-xlarge {
					width: 83.33333%;
				}

				.row > .off-10-xlarge {
					margin-left: 83.33333%;
				}

				.row > .col-11-xlarge {
					width: 91.66667%;
				}

				.row > .off-11-xlarge {
					margin-left: 91.66667%;
				}

				.row > .col-12-xlarge {
					width: 100%;
				}

				.row > .off-12-xlarge {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.4375em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.4375em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.4375em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.4375em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.875em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.875em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.875em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.875em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.75em;
				}

					.row > * {
						padding: 0 0 0 1.75em;
					}

					.row.gtr-uniform {
						margin-top: -1.75em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.75em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.625em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.625em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.625em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.625em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3.5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3.5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3.5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3.5em;
						}

		}

		@media screen and (max-width: 1280px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-large {
					order: -1;
				}

				.row > .col-1-large {
					width: 8.33333%;
				}

				.row > .off-1-large {
					margin-left: 8.33333%;
				}

				.row > .col-2-large {
					width: 16.66667%;
				}

				.row > .off-2-large {
					margin-left: 16.66667%;
				}

				.row > .col-3-large {
					width: 25%;
				}

				.row > .off-3-large {
					margin-left: 25%;
				}

				.row > .col-4-large {
					width: 33.33333%;
				}

				.row > .off-4-large {
					margin-left: 33.33333%;
				}

				.row > .col-5-large {
					width: 41.66667%;
				}

				.row > .off-5-large {
					margin-left: 41.66667%;
				}

				.row > .col-6-large {
					width: 50%;
				}

				.row > .off-6-large {
					margin-left: 50%;
				}

				.row > .col-7-large {
					width: 58.33333%;
				}

				.row > .off-7-large {
					margin-left: 58.33333%;
				}

				.row > .col-8-large {
					width: 66.66667%;
				}

				.row > .off-8-large {
					margin-left: 66.66667%;
				}

				.row > .col-9-large {
					width: 75%;
				}

				.row > .off-9-large {
					margin-left: 75%;
				}

				.row > .col-10-large {
					width: 83.33333%;
				}

				.row > .off-10-large {
					margin-left: 83.33333%;
				}

				.row > .col-11-large {
					width: 91.66667%;
				}

				.row > .off-11-large {
					margin-left: 91.66667%;
				}

				.row > .col-12-large {
					width: 100%;
				}

				.row > .off-12-large {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.4375em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.4375em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.4375em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.4375em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.875em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.875em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.875em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.875em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.75em;
				}

					.row > * {
						padding: 0 0 0 1.75em;
					}

					.row.gtr-uniform {
						margin-top: -1.75em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.75em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.625em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.625em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.625em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.625em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3.5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3.5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3.5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3.5em;
						}

		}

		@media screen and (max-width: 980px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-medium {
					order: -1;
				}

				.row > .col-1-medium {
					width: 8.33333%;
				}

				.row > .off-1-medium {
					margin-left: 8.33333%;
				}

				.row > .col-2-medium {
					width: 16.66667%;
				}

				.row > .off-2-medium {
					margin-left: 16.66667%;
				}

				.row > .col-3-medium {
					width: 25%;
				}

				.row > .off-3-medium {
					margin-left: 25%;
				}

				.row > .col-4-medium {
					width: 33.33333%;
				}

				.row > .off-4-medium {
					margin-left: 33.33333%;
				}

				.row > .col-5-medium {
					width: 41.66667%;
				}

				.row > .off-5-medium {
					margin-left: 41.66667%;
				}

				.row > .col-6-medium {
					width: 50%;
				}

				.row > .off-6-medium {
					margin-left: 50%;
				}

				.row > .col-7-medium {
					width: 58.33333%;
				}

				.row > .off-7-medium {
					margin-left: 58.33333%;
				}

				.row > .col-8-medium {
					width: 66.66667%;
				}

				.row > .off-8-medium {
					margin-left: 66.66667%;
				}

				.row > .col-9-medium {
					width: 75%;
				}

				.row > .off-9-medium {
					margin-left: 75%;
				}

				.row > .col-10-medium {
					width: 83.33333%;
				}

				.row > .off-10-medium {
					margin-left: 83.33333%;
				}

				.row > .col-11-medium {
					width: 91.66667%;
				}

				.row > .off-11-medium {
					margin-left: 91.66667%;
				}

				.row > .col-12-medium {
					width: 100%;
				}

				.row > .off-12-medium {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.4375em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.4375em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.4375em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.4375em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.875em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.875em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.875em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.875em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.75em;
				}

					.row > * {
						padding: 0 0 0 1.75em;
					}

					.row.gtr-uniform {
						margin-top: -1.75em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.75em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.625em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.625em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.625em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.625em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3.5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3.5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3.5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3.5em;
						}

		}

		@media screen and (max-width: 736px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-small {
					order: -1;
				}

				.row > .col-1-small {
					width: 8.33333%;
				}

				.row > .off-1-small {
					margin-left: 8.33333%;
				}

				.row > .col-2-small {
					width: 16.66667%;
				}

				.row > .off-2-small {
					margin-left: 16.66667%;
				}

				.row > .col-3-small {
					width: 25%;
				}

				.row > .off-3-small {
					margin-left: 25%;
				}

				.row > .col-4-small {
					width: 33.33333%;
				}

				.row > .off-4-small {
					margin-left: 33.33333%;
				}

				.row > .col-5-small {
					width: 41.66667%;
				}

				.row > .off-5-small {
					margin-left: 41.66667%;
				}

				.row > .col-6-small {
					width: 50%;
				}

				.row > .off-6-small {
					margin-left: 50%;
				}

				.row > .col-7-small {
					width: 58.33333%;
				}

				.row > .off-7-small {
					margin-left: 58.33333%;
				}

				.row > .col-8-small {
					width: 66.66667%;
				}

				.row > .off-8-small {
					margin-left: 66.66667%;
				}

				.row > .col-9-small {
					width: 75%;
				}

				.row > .off-9-small {
					margin-left: 75%;
				}

				.row > .col-10-small {
					width: 83.33333%;
				}

				.row > .off-10-small {
					margin-left: 83.33333%;
				}

				.row > .col-11-small {
					width: 91.66667%;
				}

				.row > .off-11-small {
					margin-left: 91.66667%;
				}

				.row > .col-12-small {
					width: 100%;
				}

				.row > .off-12-small {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.4375em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.4375em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.4375em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.4375em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.875em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.875em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.875em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.875em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.75em;
				}

					.row > * {
						padding: 0 0 0 1.75em;
					}

					.row.gtr-uniform {
						margin-top: -1.75em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.75em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -2.625em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 2.625em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -2.625em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 2.625em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -3.5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 3.5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -3.5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 3.5em;
						}

		}

		@media screen and (max-width: 480px) {

			.row {
				display: flex;
				flex-wrap: wrap;
				box-sizing: border-box;
				align-items: stretch;
			}

				.row > * {
					box-sizing: border-box;
				}

				.row.gtr-uniform > * > :last-child {
					margin-bottom: 0;
				}

				.row.aln-left {
					justify-content: flex-start;
				}

				.row.aln-center {
					justify-content: center;
				}

				.row.aln-right {
					justify-content: flex-end;
				}

				.row.aln-top {
					align-items: flex-start;
				}

				.row.aln-middle {
					align-items: center;
				}

				.row.aln-bottom {
					align-items: flex-end;
				}

				.row > .imp-xsmall {
					order: -1;
				}

				.row > .col-1-xsmall {
					width: 8.33333%;
				}

				.row > .off-1-xsmall {
					margin-left: 8.33333%;
				}

				.row > .col-2-xsmall {
					width: 16.66667%;
				}

				.row > .off-2-xsmall {
					margin-left: 16.66667%;
				}

				.row > .col-3-xsmall {
					width: 25%;
				}

				.row > .off-3-xsmall {
					margin-left: 25%;
				}

				.row > .col-4-xsmall {
					width: 33.33333%;
				}

				.row > .off-4-xsmall {
					margin-left: 33.33333%;
				}

				.row > .col-5-xsmall {
					width: 41.66667%;
				}

				.row > .off-5-xsmall {
					margin-left: 41.66667%;
				}

				.row > .col-6-xsmall {
					width: 50%;
				}

				.row > .off-6-xsmall {
					margin-left: 50%;
				}

				.row > .col-7-xsmall {
					width: 58.33333%;
				}

				.row > .off-7-xsmall {
					margin-left: 58.33333%;
				}

				.row > .col-8-xsmall {
					width: 66.66667%;
				}

				.row > .off-8-xsmall {
					margin-left: 66.66667%;
				}

				.row > .col-9-xsmall {
					width: 75%;
				}

				.row > .off-9-xsmall {
					margin-left: 75%;
				}

				.row > .col-10-xsmall {
					width: 83.33333%;
				}

				.row > .off-10-xsmall {
					margin-left: 83.33333%;
				}

				.row > .col-11-xsmall {
					width: 91.66667%;
				}

				.row > .off-11-xsmall {
					margin-left: 91.66667%;
				}

				.row > .col-12-xsmall {
					width: 100%;
				}

				.row > .off-12-xsmall {
					margin-left: 100%;
				}

				.row.gtr-0 {
					margin-top: 0;
					margin-left: 0em;
				}

					.row.gtr-0 > * {
						padding: 0 0 0 0em;
					}

					.row.gtr-0.gtr-uniform {
						margin-top: 0em;
					}

						.row.gtr-0.gtr-uniform > * {
							padding-top: 0em;
						}

				.row.gtr-25 {
					margin-top: 0;
					margin-left: -0.3125em;
				}

					.row.gtr-25 > * {
						padding: 0 0 0 0.3125em;
					}

					.row.gtr-25.gtr-uniform {
						margin-top: -0.3125em;
					}

						.row.gtr-25.gtr-uniform > * {
							padding-top: 0.3125em;
						}

				.row.gtr-50 {
					margin-top: 0;
					margin-left: -0.625em;
				}

					.row.gtr-50 > * {
						padding: 0 0 0 0.625em;
					}

					.row.gtr-50.gtr-uniform {
						margin-top: -0.625em;
					}

						.row.gtr-50.gtr-uniform > * {
							padding-top: 0.625em;
						}

				.row {
					margin-top: 0;
					margin-left: -1.25em;
				}

					.row > * {
						padding: 0 0 0 1.25em;
					}

					.row.gtr-uniform {
						margin-top: -1.25em;
					}

						.row.gtr-uniform > * {
							padding-top: 1.25em;
						}

				.row.gtr-150 {
					margin-top: 0;
					margin-left: -1.875em;
				}

					.row.gtr-150 > * {
						padding: 0 0 0 1.875em;
					}

					.row.gtr-150.gtr-uniform {
						margin-top: -1.875em;
					}

						.row.gtr-150.gtr-uniform > * {
							padding-top: 1.875em;
						}

				.row.gtr-200 {
					margin-top: 0;
					margin-left: -2.5em;
				}

					.row.gtr-200 > * {
						padding: 0 0 0 2.5em;
					}

					.row.gtr-200.gtr-uniform {
						margin-top: -2.5em;
					}

						.row.gtr-200.gtr-uniform > * {
							padding-top: 2.5em;
						}

		}
